In [2]:
from bs4 import BeautifulSoup
from scrapy import Selector
import requests
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [3]:
url = ' https://en.wikipedia.org/wiki/Road_safety_in_Europe'
html = requests.get(url).content

In [4]:
sel=Selector(text=html)
table_title=sel.xpath('//table[@class="wikitable sortable"]/caption/text()').extract()
table_columns=sel.xpath('//table[@class="wikitable sortable"]/tbody/tr/th/text()')
columns=[]

for col in table_columns:
    col=col.extract().replace('\n','')
    if col !='':
        columns.append(col)
columns

['Country',
 'Area',
 'Population in 2018',
 'GDP per capita in 2018',
 'Population density',
 'Vehicle ownership',
 'Road Network Length',
 'Total Road Deaths in 2018',
 'Road deaths',
 'Number of People Killed',
 'Number of Seriously Injured in 2017/2018']

In [5]:
table_countries=sel.xpath('//table[@class="wikitable sortable"]/tbody/tr/td/b/text()')
countries=[]
for country in table_countries:
    countries.append(country.extract())

In [6]:
table_data=sel.xpath('//table[@class="wikitable sortable"]/tbody/tr/td/text()')
clean_list=[]
#get clean data
for data in table_data:
    data=data.extract().strip()
    clean_list.append(data)
while '' in clean_list:
    clean_list.remove('')

In [7]:
#divide the data
all_rows=[]
rows=[]
for i in range(len(clean_list)):
    rows.append(clean_list[i])
    if i%10==9:
        all_rows.append(rows)
        rows=[]

In [8]:
#add country to the data row
for i in range(len(countries)):
    all_rows[i].insert(0,countries[i])

In [9]:
#creating pandas dataframe

df=pd.DataFrame(data=all_rows,columns=columns)
df['Road deaths per Million Inhabitants'] = df['Road deaths']
df['Year']=2018
df=df.drop(columns=['Road Network Length','Number of People Killed','Number of Seriously Injured in 2017/2018','Road deaths'])
df=df.sort_values(by=['Road deaths per Million Inhabitants'])
df.to_csv("wiki_data.csv",index=False)

In [339]:
df=pd.read_csv("data/wiki_data.csv")
df.head()

,Country,Area,Population in 2018,GDP per capita in 2018,Population density,Vehicle ownership,Total Road Deaths in 2018,Road deaths per Million Inhabitants,Year
0,United Kingdom,248.5,"66,273,576","32,400",273,544,"1,825",28,2018
1,Denmark,42.9,"5,781,190","47,600",137,508,175,30,2018
2,Netherlands,41.5,"17,181,084","41,500",508,543,678,31,2018
3,Ireland,69.8,"4,830,392","59,400",70,525,146,31,2018
4,Sweden,438.6,"10,120,242","43,300",25,542,324,32,2018